h3{
    margin: 10px;
    display: inline-block;
}
.hedr{
    margin: 10px 1200px 10px 10px;
    display: inline-block;
}
.img1{
    height: 806px ;
    width: 1320px;
    margin-left: 100px;
}
img{
    display: inline-block;
    margin: 50px;
}